
* {
  margin: 0;
  padding: 0;
  


}

#root {
  font-family: Poppins,Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow-x: hidden;

 
}

.logo{
  height: 4rem;
  border-radius: 100%;
}

header{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 position: sticky;
top: 0; 
z-index: 1000; 
margin-top: 2rem;

 
 

}
nav{

  display: flex;
  gap: 1rem;
  margin-left: 8rem;
  padding: 1.2rem;
  border-radius: 80px;
  min-width: fit-content;
background: rgba(255, 255, 255, 0.31);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
a{
  transition: 0.3s;
  text-decoration: none;
  color: black;
}
a:hover{
  transition: 0.3s;
  color: #b6b6b6;
}
#contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#How{

  display: flex ;
  flex-direction: column;

  margin-right: 36vh;
  margin-left: 36vh;
  

 
  
}


#contactForm{
  display: flex;
  flex-direction: column;
  
  margin-left: 12vh;
 
 
}
#contact h1{

  font-size: 3rem;
 
}
form{
  display: flex;
  flex-direction: column;
  gap: 50px;

}
form button{
  transition: 0.5s;
  width: 100px;
  height: 50px;
  font-family: Poppins,Arial, Helvetica, sans-serif;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
  
}
form button:hover{
  transition: 0.3s;
  background-color: rgb(145, 145, 145);
  color: rgb(255, 255, 255);
  cursor: pointer;
  
}
form textarea{
  min-width: 24rem;
  height: 28rem;
  border-radius: 4px;
  border: none;
  font-family: Poppins,Arial, Helvetica, sans-serif;
  padding: 1rem;
  background-color: rgb(248, 247, 247);
}
form input{
  min-width: 24rem;
  height: 40px;
  border-radius: 4px;
  border: none;
  font-family: Poppins,Arial, Helvetica, sans-serif;
  padding: 1rem;
  background-color: rgb(248, 247, 247);
}
#herotext {
  margin-left: 12vh;
  margin-top: 4vh;
  max-width: 500px;
 
}
/* Assuming this is your CSS file for the service section */

/* Flexbox container for the service cards */
.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
  gap: 5px; /* Adjust the gap between cards */
}

/* Styling for each service card */
.service-card {
  background-color: rgb(255, 255, 255);

  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  height: 200px;
 
  transition: transform 0.3s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* Hover effect for cards */
.service-card:hover {
  transform: translateY(-5px);
}

/* Text styles inside the card */
.service-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 20px;
  
  
}

.service-card p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}
#services h1{
  font-size: 3rem;
  display: flex;
  position: relative;
  left: 12vh;
  margin-bottom: 3rem;
}
#services{
  margin-left: 10px;
  margin-right: 10px;
}
section{
  
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
 
 
 
}
section h1{
  font-size: 3rem;
  margin-bottom: 4rem;
  

}


#hero button {
  display: flex;
  padding: 1.1rem 2.5rem 1.1rem 3.5rem;
  border-radius: 99rem;
  background-color: #a2f591;
  transition: all 0.5s ease;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: none;
  width: 16rem;
  font-family: Poppins,Arial, Helvetica, sans-serif;

  font-size: 18px;

 
}

#hero button .icon {
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero button .icon span {
  background: black;
  border-radius: 100%;
  padding: 0rem;

  width: 0rem;
  height: 0rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transform: rotate(-180deg);

  transition: all 0.5s ease;
}

#hero button:hover .icon span {
  transform: rotate(0deg);

  border-radius: 100%;
  padding: 0.6rem;
  width: 0.9rem;
  height: 0.9rem;
}
#projects{
  display: flex;
  
  margin-left: 12vh;
}
#testimonials{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}
#testimonials h1{
  display: flex;
  margin-left: 12vh;
 
}
footer{
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  background-color: black;
  color: #ffffff;
  padding: 2rem;
  
 
  
}

.socials{
  height: 2em;
  


}

#socials{
 
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

#CTA{
  
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 0.5s;
  width: 200px;
  height: 50px;
  font-family: Poppins,Arial, Helvetica, sans-serif;
  border-radius: 40px;
  border: #a2f591 solid;
  background-color: #ffffff;

  color: #4eeb2e;
  
}
#CTA:hover{
  transition: 0.2s;
  background-color: #a2f591;

  color: #ffffff;

}
.sub{
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}
.subheading{
  
  max-width: 500px;
  margin-bottom: 2rem;
}
#hero{
  display: flex;
  flex-direction: row;
  

}
#Animation{
 
  margin-left: 32vh;
  position: relative;
  bottom: 80px;
  
}
#How img{
  height: 100px;
  width: 100px;
 
}
@media (max-width: 1024px) {
  nav {
    margin-left: 4rem;
  }
  
  #How {
    margin: 0 4vw;
  }

  #herotext {
    margin-left: 6vh;
  }

  #Animation {
    margin-left: 20vh;
  }

  .service-card {
    max-width: 200px;
  }

  #services h1, #testimonials h1 {
    left: 6vh;
  }

  #projects {
    margin-left: 6vh;
  }
}

@media (max-width: 768px) {
  #contact{
    display: grid;
    grid-template-columns: 2;
    align-items: center;
    justify-content: center;
  }
  #How img{
    display: none;
  }
  nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  
  nav.active {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 1rem;
  }
  
  .hamburger {
    display: flex;
  }

  #How {
  margin-left: 4rem;
  padding: 4rem;
  }

  #herotext {
    margin: 2vh 4vh;
  }

  #Animation {
    margin-left: 10vh;
    bottom: 40px;
    position: relative;
    right: 40px;
  }

  .service-card {
    max-width: 150px;
  }

  #services h1, #testimonials h1 {
    left: 3vh;
  }

  #projects {
    margin-left: 3vh;
  }
}

@media (max-width: 480px) {
  
  .service-container{
    display: grid;
    grid-template-columns: 3;

  }
  #contact{
    margin-right: 6rem;
  }
 
  form textarea{
    min-width: 15rem;
    height: 14rem;
    border-radius: 4px;
    border: none;
    font-family: Poppins,Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: rgb(248, 247, 247);
  }
  form input{
    min-width: 15rem;
    height: 7px;
    border-radius: 4px;
    border: none;
    font-family: Poppins,Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: rgb(248, 247, 247);
  }
  #hero{
    margin-top: 2rem;
  }
 


  #herotext {
    margin: 1vh;
  }

  #Animation {
    margin-left: 5vh;
    bottom: 20px;
  }

  .service-card {
    max-width: 500px;
  }
  .service-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 3;
    gap:2rem;
  }

  #services h1 {
    left: 3rem;
  }

  #projects {
    margin-left: 1.5vh;
  }
  #Animation {
    display: none;
  
  
  }
  #testimonials{
    display: grid;
    justify-content: center;
   

  }
  #testimonials h1{
    margin-right: 6rem;
    font-size: xx-large;
  }
    nav {
      display: none;
      flex-direction: column;
      width: 100%;
    }
    
    nav.active {
      display: flex;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      padding: 1rem;
    }
    
    .hamburger {
      display: flex;
    }
    
  }

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 1rem;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: black;
  margin-bottom: 4px;
  border-radius: 5px;
}
#services{
  margin-top: 4rem;
}
